# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/

# CSV files (optional: if you want to ignore them)
*.csv

# Logs and databases
*.log
*.sqlite3
*.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store